.overlay-wrapper{
    position: absolute;
}

ul>li{
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: justify;
}

.key{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: thin solid white;
}